/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700&family=IBM+Plex+Sans+KR:wght@300;400;500;600&family=Inter:wght@400;500;600&family=Nanum+Gothic+Coding&display=swap');

/* font-family: 'Azeret Mono', monospace;
font-family: 'IBM Plex Sans KR', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Nanum Gothic Coding', monospace; */

/* normalize */
body,
ul,
li,
div,
span,
h1,
h2,
h3,
p,
a,
input,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'IBM Plex Sans KR', 'Inter';
  letter-spacing: 0.07em;
  box-sizing: border-box;
  color: #1B1C25;
  background-repeat: no-repeat;
}

img {
  vertical-align: middle;
}

button,
input {
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.img-box>img {
  width: 100%;
}

.inline-grid {
  font-size: 0;
}

.inline-grid>* {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

.float-grid>* {
  float: left;
}

.float-grid::after {
  content: "";
  display: block;
  clear: both;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
}

.inter {
  font-family: 'inter';
}

.mono {
  font-family: 'Azeret Mono', monospace;
}

:root {
  --main-color-gray: #EBECF1;
  --main-color-yellow: #F8D554;
  --main-color-green: #36685D;
  --main-color-blue: #273F65;
  --text-color: #1B1C25;
}

html {
  scroll-behavior: smooth;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--main-color-gray);
}

::-webkit-scrollbar-thumb {
  height: 8px;
  border-radius: 0;
  background-color: var(--text-color);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--main-color-gray);
}

/* custom */
body {
  /* overflow-x: hidden; */
  overflow: hidden;
}

.container {
  width: 1200px;
  height: 100%;
}

.main-page {
  height: 100vh;
}



/* 

모든 페이지 공통!!
inner > header


*/
#inner>.header {
  height: 100px;
  position: relative;
  z-index: 100;
}

#inner .header_menu>ul {
  display: flex;
  justify-content: space-between;
}

#inner .header_menu>ul>li>a {
  font-weight: 500;
  font-size: 25px;
  line-height: 100px;
  display: inline-block;
  letter-spacing: 0;
}

#inner .header_menu>ul>li:not(:first-child)>a>span {
  display: inline-block;
  width: 70px;
  text-align: center;
  position: relative;
  margin: 0 10px;
  letter-spacing: 0;
}

#inner .header_menu>ul>li:not(:first-child)>a>span::after {
  display: inline-block;
  content: "";
  position: absolute;
  height: 30%;
  left: 0;
  top: 35%;
  z-index: -1;
  transition: all 0.5s;
}


#inner .header_menu>ul>li:not(:first-child)>a:hover>span::after {
  background-color: var(--main-color-yellow);
  animation: menuhighlights .5s forwards;
}

@keyframes menuhighlights {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}



/* 


home-page > section > side


*/
.main-page>.section {
  height: calc(100% - 100px);
}

.main-page>.section>.section-bg {
  overflow: hidden;
  height: 100vh;
}

.main-page>.section>.side {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.main-page>.section>.side>.side-bar {
  width: 70px;
  height: 100%;
  padding: 13px;
  display: flex;
  align-items: center;
}

.main-page>.section>.side>.side-bar>button {
  background-image: url(../image/home/home_sideMenuBar-gray.svg);
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 150;
}

.main-page>.section>.side>.side-bar>button.active {
  background-image: url(../image/home/home_sideMenuBar-black.svg);
}

.main-page>.section>.side>.side-bar>.side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 600px;
  background-color: rgba(235, 236, 241, 0.7);
  box-shadow: -2px 0px 22px 3px rgba(0, 0, 0, 0.15);
  transform: translateX(-100%);
  transition: all 0.5s;
  opacity: 0;
}

.main-page>.section>.side>.side-bar>.side-menu.active {
  transform: translateX(0%);
  opacity: 1;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner {
  padding-left: 150px;
  height: 100%;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_main-menu>li:nth-child(2) {
  margin: 150px 0;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_main-menu>li>a>span.inter {
  font-weight: 500;
  font-size: 40px;
  display: inline-block;
  white-space: nowrap;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_main-menu>li>a>span:not(.inter) {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.07em;
  white-space: nowrap;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_sub-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px 50px;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_sub-menu>li>a {
  font-weight: 400;
  font-size: 25px;
  line-height: 131.5%;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_sub-menu>li>a::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0%;
  height: 5px;
  background-color: transparent;
  transition: all 0.3s;
}

.main-page>.section>.side>.side-bar>.side-menu>.inner>ul>.side_sub-menu>li>a:hover::after {
  background-color: var(--text-color);
  width: 100%;
}

.main-page>.section>.side>.arrow-box {
  width: 200px;
  height: 100%;
  padding: 13px;
  display: flex;
  align-items: center;
}

.main-page>.section>.side>.arrow-box>button,
.am-page #fullpage>.section-5>.arrow-box>button,
.do-page>.section>.arrow-box>button,
.will-page>.contents>.arrow-box>button {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: var(--main-color-gray);
  background-image: url(../image/home/home_arrow-next.svg);
  background-position: right;
  position: relative;
  animation: infinitemoveLeft .5s linear infinite alternate;
}

.main-page>.section>.side>.arrow-box>button:hover,
.am-page #fullpage>.section-5>.arrow-box>button:hover,
.do-page>.section>.arrow-box>button:hover,
.will-page>.contents>.arrow-box>button:hover {
  animation-play-state: paused;
  color: var(--main-color-yellow);
  background-image: url(../image/home/home_arrow-next_yellow.svg);
}

@keyframes infinitemoveLeft {
  from {
    left: 0px;
  }

  to {
    left: 10px;
  }
}



/* 


home-page > section > center


*/
.main-page>.section>.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-page>.section>.center>.txt-animation-box {
  display: flex;
  font-size: 5rem;
  font-family: 'Azeret Mono', monospace;
  font-weight: 500;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-page>.section>.center>.txt-animation-box>.txt {
  margin: 0 20px;
}

.main-page>.section>.center>.txt-animation-box>.first-txt,
.main-page>.section>.center>.txt-animation-box>.last-txt {
  color: var(--main-color-gray);
}

.main-page>.section>.center .middle-txt {
  position: relative;
  width: 230px;
  display: flex;
  justify-content: center;
}

.main-page>.section>.center .typing-animation {
  position: absolute;
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
}

.main-page>.section>.center .middle-txt[data-index="0"]>.typing-animation-1 {
  opacity: 1;
  width: 2.5ch;
  animation: typinganimation 0.5s steps(2);
}

.main-page>.section>.center .middle-txt[data-index="1"]>.typing-animation-2 {
  opacity: 1;
  width: 2.5ch;
  animation: typinganimation 0.5s steps(2);
}

.main-page>.section>.center .middle-txt[data-index="2"]>.typing-animation-3 {
  opacity: 1;
  width: 4ch;
  animation: typinganimation 0.5s steps(4);
}

.main-page>.section>.center .middle-txt[data-index="0"]>.highlights-1 {
  animation: highlights 1s 1s forwards;
}

.main-page>.section>.center .middle-txt[data-index="1"]>.highlights-2 {
  animation: highlights 1s 1s forwards;
}

.main-page>.section>.center .middle-txt[data-index="2"]>.highlights-3 {
  animation: highlights 1s 1s forwards;
}

.main-page>.section>.center .middle-txt>.highlights {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: var(--main-color-yellow);
}

@keyframes typinganimation {
  from {
    width: 0;
  }
}

@keyframes highlights {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}



/* 


am page


*/
.am-page>.inner {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* 


am page > section-1


*/
.am-page #fullpage .section-1_inner {
  position: relative;
  height: 100%;
}

.am-page #fullpage .section-1_inner>.contents-box {
  height: calc(100% - 100px);
}

.am-page #fullpage .section-1_inner .logo-box {
  height: 70%;
  position: relative;
}

.am-page #fullpage .section-1_inner .logo-box>svg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.am-page #fullpage .section-1_inner .text-box {
  height: 30%;
  text-align: center;
}

.am-page #fullpage .section-1_inner .text-box>.text {
  width: 994px;
  height: 108px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  margin: 0 auto;
}

.am-page>.inner>#fullpage .section-1_inner .text-box>svg {
  margin-top: 30px;
  position: relative;
  animation: infinitemoveTop .5s linear infinite alternate;
}

@keyframes infinitemoveTop {
  from {
    top: 0px;
  }

  to {
    top: 10px;
  }
}

.am-page #fullpage .section-1_inner>.contents-box>.wave-box {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
}

/* wave animation */
.am-page #fullpage .section-1_inner .wave-box .waves,
.do-page>.section>.container>.contents-box>.personal>.inner>.intro>.wave-box .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 120px;
}

.am-page #fullpage .section-1_inner .wave-box .content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.am-page #fullpage .section-1_inner .wave-box .parallax>use,
.do-page>.section>.container>.contents-box>.personal>.inner>.intro>.wave-box .parallax>use {
  /* animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite; */
  animation: move-forever 10s cubic-bezier(.55, .5, .45, .5) infinite;
}

.am-page #fullpage .section-1_inner .wave-box .parallax>use:nth-child(1),
.do-page>.section>.container>.contents-box>.personal>.inner>.intro>.wave-box .parallax>use {
  animation-delay: -2s;
  animation-duration: 7s;
}

.am-page #fullpage .section-1_inner .wave-box .parallax>use:nth-child(2) {
  animation-delay: -7s;
  animation-duration: 10s;
}

.am-page #fullpage .section-1_inner .wave-box .parallax>use:nth-child(3) {
  animation-delay: -5s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}



/* 


am page > section-2


*/
.am-page #fullpage>.section-2 {
  position: relative;
}

.am-page #fullpage>.section-2>div>.contents-box {
  height: 100%;
  position: relative;
}

.am-page #fullpage>.section-2 .contents-box>.character {
  position: absolute;
}

.am-page #fullpage>.section-2 .contents-box>.inside {
  top: 10%;
  left: 10%;
}

.am-page #fullpage>.section-2 .contents-box>.outside {
  top: 20%;
  right: 10%;
}

.am-page #fullpage>.section-2 .contents-box>.skills {
  top: 50%;
  left: 0%;
}

.am-page #fullpage>.section-2 .contents-box>.exper {
  top: 60%;
  right: 2%;
}

.am-page #fullpage>.section-2 .contents-box>.character>.text-box {
  background-image: url(../image/am/am_sec2-inside.svg);
  width: 288px;
  height: 178px;
  position: relative;
}

.am-page #fullpage>.section-2 .contents-box>.outside>.text-box {
  background-image: url(../image/am/am_sec2-outside.svg);
}

.am-page #fullpage>.section-2 .contents-box>.skills>.text-box {
  background-image: url(../image/am/am_sec2-skills.svg);
  width: 468px;
  height: 300px;
}

.am-page #fullpage>.section-2 .contents-box>.exper>.text-box {
  background-image: url(../image/am/am_sec2_experience.svg);
  width: 452px;
  height: 225px;
}

.am-page #fullpage>.section-2 .contents-box>.character>.text-box>div {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
}

.am-page #fullpage>.section-2 .contents-box>div:nth-child(odd)>.text-box>div {
  text-align: right;
}

.am-page #fullpage>.section-2 .contents-box>div:nth-child(even)>.text-box>div {
  right: auto;
  left: 0;
}

.am-page #fullpage>.section-2 .contents-box>.character>.text-box>div>span {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 3px 5px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Nanum Gothic Coding';
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}

.am-page #fullpage>.section-2 .contents-box>.inside>.text-box>div>span.active {
  opacity: 1;
  width: 26ch;
  animation: typinganimation 2s 0s steps(24);
}

.am-page #fullpage>.section-2 .contents-box>.outside>.text-box>div>span.active {
  opacity: 1;
  width: 40ch;
  animation: typinganimation 2s 0s steps(40);
}

.am-page #fullpage>.section-2 .contents-box>.skills>.text-box>div>span.active {
  opacity: 1;
  width: 33ch;
  animation: typinganimation 2s 0s steps(32);
}

.am-page #fullpage>.section-2 .contents-box>.exper>.text-box>div>span.active {
  opacity: 1;
  width: 53ch;
  animation: typinganimation 2s 0s steps(52);
}

.am-page #fullpage>.section-2 .contents-box>.character>.text-box>div>span::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: inline-block;
  content: "";
  width: 0%;
  height: 30px;
  background-color: var(--main-color-yellow);
  transition: all 1s;
  transition-delay: 2s;
}

.am-page #fullpage>.section-2 .contents-box>div:nth-child(even)>.text-box>div>span::after {
  right: auto;
  left: 0;
}

.am-page #fullpage>.section-2 .contents-box>.character>.text-box>div>span.active::after {
  width: 100%;
}

.am-page #fullpage>.section-2>div>.bg-logo-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.am-page #fullpage>.section-2>div>.bg-logo-box>img {
  transform: translateY(-30%);
  opacity: 0;
  transition: all 1s;
  transition-delay: .5s;
}

.am-page #fullpage>.section-2.active>div>.bg-logo-box>img {
  transform: translateY(0%);
  opacity: 1;
}

.am-page #fullpage>.section-2>.line-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.am-page #fullpage>.section-2>.line-box>.character {
  width: 0px;
  height: 5px;
  background-color: var(--main-color-blue);
  position: absolute;
  top: calc(13% - 6px);
  left: 0%;
  transition: width 1s ease 0s;
}

.am-page #fullpage>.section-2>.line-box>.outside {
  top: calc(23% - 6px);
  left: auto;
  right: 0;
}

.am-page #fullpage>.section-2>.line-box>.skills {
  top: calc(53% - 5px);
  left: 0%;
}

.am-page #fullpage>.section-2>.line-box>.exper {
  top: calc(63% - 6px);
  left: auto;
  right: 0%;
}

.am-page #fullpage>.section-2>.line-box>.character.active {
  width: 768px;
}

.am-page #fullpage>.section-2>.line-box>.skills.active {
  width: 830px;
}

.am-page #fullpage>.section-2>.line-box>.exper.active {
  width: 840px;
}

@media (max-width: 1421px) {
  .am-page #fullpage>.section-2>.line-box>.skills.active {
    width: 650px;
  }

  .am-page #fullpage>.section-2>.line-box>.exper.active {
    width: 650px;
  }
}


/* 


am page > section-3


*/
.am-page #fullpage>.section-3>div {
  padding: 45px;
  display: flex;
  justify-content: space-between;
}

.am-page #fullpage>.section-3>div>.graph-box {
  position: relative;
  display: flex;
  align-items: center;
}

.am-page #fullpage>.section-3>div>.graph-box>.graph-logo {
  position: absolute;
  z-index: 1;
}

.am-page #fullpage>.section-3>div>.graph-box>.circle {
  width: 370px;
  height: 730px;
  background-color: #fff;
  border-radius: 0px 400px 400px 0px;
  transition: transform 1s linear 0s;
}

.am-page #fullpage>.section-3>div>.graph-box>.circle.active {
  transform: rotate(180deg);
  transform-origin: 0% 50%;
}

.am-page #fullpage>.section-3>div>.graph-box>.graph {
  position: absolute;
  z-index: -1;
}

.am-page #fullpage>.section-3>div>.text-box {
  display: flex;
  align-items: center;
}



/* 


am page > section-4


*/
.am-page #fullpage>.section-4,
.am-page #fullpage>.section-5 {
  background-image: url(../image/am/am_sec4_5-bg.svg);
}

.am-page #fullpage>.section-4>div>.grit-sub {
  padding: 54px 49px;
  position: relative;
}

.am-page #fullpage>.section-4>div>.grit-sub>img {
  display: block;
  transition: all 0.5s linear 0s;
  opacity: 0;
}

.am-page #fullpage>.section-4>div>.grit-sub>img:nth-child(1) {
  transform: translate(0%, -10%);
}

.am-page #fullpage>.section-4>div>.grit-sub>img:nth-child(2) {
  margin: 60px 0px;
  transform: translate(-10%, 0%);
}

.am-page #fullpage>.section-4>div>.grit-sub>img:nth-child(3) {
  transform: translate(-10%, 0%);
}

.am-page #fullpage>.section-4>div>.grit-sub>img.active {
  transform: translate(0%, 0%);
  opacity: 1;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box {
  position: absolute;
  top: 27%;
  right: 100px;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box>.text-box>div {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--main-color-gray);
  text-align: center;
  cursor: default;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box>.text-box>div:not(.expansion) {
  display: inline-block;
  border-bottom: 3px solid var(--main-color-gray);
  padding-bottom: 10px;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box>.text-box>.basic {
  width: 393px;
  margin-right: 20px;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box>.text-box>.turtle {
  width: 81px;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box>.text-box>.expansion {
  border-top: 3px solid var(--main-color-gray);
  margin-top: 130px;
  padding-top: 10px;
}

.am-page #fullpage>.section-4>div>.grit-sub>.logo-box>.logo {
  position: absolute;
  top: 53px;
  left: -14px;
  display: flex;
}



/* 


am page > section-5


*/
.am-page #fullpage>.section-5 {
  background-position: 0% 80%;
}

.am-page #fullpage>.section-5>.arrow-box,
.do-page>.section>.arrow-box,
.will-page>.contents>.arrow-box {
  width: 100%;
  padding: 13px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.am-page #fullpage>.section-5>.arrow-box>.prev,
.do-page>.section>.arrow-box>.prev,
.will-page>.contents>.arrow-box>.prev {
  background-image: url(../image/am/am_arrow-prev.svg);
  background-position: left;
  padding-left: 72px;
  width: 140px;
}

.am-page #fullpage>.section-5>.arrow-box>.prev:hover,
.do-page>.section>.arrow-box>.prev:hover,
.will-page>.contents>.arrow-box>.prev:hover {
  background-image: url(../image/am/am_arrow-prev_yellow.svg);
}

.am-page #fullpage>.section-5>.arrow-box>.next,
.do-page>.section>.arrow-box>.next,
.will-page>.contents>.arrow-box>.next {
  width: 180px;
  padding-right: 72px;
}

.am-page #fullpage>.section-5>.container {
  padding: 280px 100px 0px;
}

.am-page #fullpage>.section-5>div>.text-box {
  display: flex;
  justify-content: space-between;
}

.am-page #fullpage>.section-5>div>.text-box>.right {
  padding-top: 5px;
}

.am-page #fullpage>.section-5>div>.text-box>.right>.line {
  height: 220px;
  width: 100%;
  position: relative;
}

.am-page #fullpage>.section-5>div>.text-box>.right>.line>span.active {
  animation: yellowLine 0.5s linear forwards;
}

.am-page #fullpage>.section-5>div>.text-box>.right>.line>span {
  display: block;
  position: absolute;
  top: 20px;
  left: 35px;
  width: 2px;
  background-color: var(--main-color-yellow);
}

@keyframes yellowLine {
  from {
    height: 0%;
  }

  to {
    height: 80%;
  }
}

.am-page #fullpage>.section-5>div>.text-box>.right>.text {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #fff;
}

.am-page #fullpage>.section-5>div>.text-box>.right>.text>span {
  color: var(--main-color-yellow);
}

.am-page #fullpage>.section-5>div>.to-top {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;
}

.am-page #fullpage>.section-5>div>.to-top>a,
.do-page>.section>.container>.contents-box>div>.inner>.to-top-btn a {
  position: relative;
  animation: infinitemoveTop .5s linear infinite alternate;
}

.am-page #fullpage>.section-5>div>.to-top:hover>a,
.do-page>.section>.container>.contents-box>div>.inner>.to-top-btn>.to-top:hover a {
  animation-play-state: paused;
}



/* 


do page > header


*/
.do-page#inner>.header {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
  background-color: #fff;
  width: 100%;
  border-bottom: 3px solid var(--text-color);
}

#do-loading,
#will-loading,
#am-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: var(--main-color-yellow);
}

/* 


do page > section


*/

.do-page>.section {
  background-repeat: repeat;
  padding-top: 100px;
  overflow: hidden;
}

.do-page>.section>.arrow-box,
.will-page>.contents>.arrow-box {
  position: fixed;
  z-index: 150;
}

.do-page>.section>.arrow-box>.prev,
.will-page>.contents>.arrow-box>.prev {
  width: 180px;
}

.do-page>.section>.arrow-box>.next {
  padding-right: 50px;
  color: var(--text-color);
  background-image: url(../image/do/do_arrow-next-black.svg);
}

.do-page>.section>.do-logo {
  position: fixed;
  right: 14%;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s;
}

.do-page>.section>.container {
  display: flex;
  justify-content: flex-end;
}



/* 


do page > section > menu-box


*/
.do-page>.section>.container>.menu-box {
  width: 30%;
  height: 100%;
  background-color: #1B1C25;
  position: fixed;
  top: 100px;
  left: 0%;
  padding-top: 65px;
  padding-right: 1.5%;
  z-index: 101;
  transition: all 0.3s;
}

@media (max-width: 1441px) {
  .do-page>.section>.container>.menu-box {
    width: 22.5%;
  }

  .do-page>.section>.do-logo {
    right: 0%;
  }
}

@media (max-width: 1201px) {
  .do-page>.section>.container>.menu-box {
    width: 210px;
    padding-right: 20px;
  }
}

.do-page>.section>.container>.menu-box>.inner>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.do-page>.section>.container>.menu-box>.inner>ul>li {
  width: 175px;
  margin-left: auto;
}

.do-page>.section>.container>.menu-box>.inner>ul>.line {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.do-page>.section>.container>.menu-box>.inner>ul>.line>span {
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: var(--main-color-gray);
}

.do-page>.section>.container>.menu-box>.inner>ul>li>a {
  display: block;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: var(--main-color-gray);
}

.do-page>.section>.container>.menu-box>.inner>ul li.active>a {
  color: var(--main-color-yellow);
}

.do-page>.section>.container>.menu-box>.inner>ul ul li>a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.5%;
  text-align: right;
  color: var(--main-color-gray);
  margin-top: 10px;
}



/* 


do page > section > contents-box


*/

.do-page>.section>.container>.contents-box>div {
  display: none;
  width: 995px;
}

.do-page>.section>.container>.contents-box>div.active {
  display: block;
}

.do-page>.section>.container>.contents-box>div>.inner {
  overflow-x: hidden;
}



/* 


do page > section > contents-box > personal


*/
.do-page>.section>.container>.contents-box>.personal>.inner>.intro {
  position: relative;
  z-index: 100;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.intro>.project-inform {
  position: absolute;
  top: 500px;
  left: 100px;
  z-index: 100;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.intro>.wave-box>.yellow-box {
  height: 600px;
  background-color: var(--main-color-yellow);
  position: relative;
  background-image: url(../image/brandLogo.svg);
  background-size: 430px;
  background-position: center;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.intro>.wave-box>svg {
  transform: rotate(180deg);
}

.do-page>.section>.container>.contents-box>.personal>.inner>.overview {
  background-image: url(../image/do/personal/do_personal-overview-title.svg);
  background-position: 130px 0px;
  height: 280px;
  position: relative;
  top: -88px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.overview>.overview-text {
  width: 513px;
  height: 100%;
  margin-left: 300px;
  padding-top: 180px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.goal {
  height: 105px;
  background-image: url(../image/do/personal/do_personal-goal-text.svg);
  background-position: 65% 70%;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.goal>.goal-title {
  height: 34px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.schedule>h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 147px;
  padding-left: 71px;
  padding-bottom: 56px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.schedule>.schedule-graph {
  position: relative;
  height: 300px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.schedule>.schedule-graph>img {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.concept {
  background-image: url(../image/do/personal/do_personal-concept-bg.svg);
  background-position: bottom;
  height: 650px;
  margin-bottom: 190px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.concept>.concept-title {
  margin-left: 85px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.color-system {
  background-image: url(../image/do/personal/do_personal-color-bg.svg);
  height: 480px;
  margin-top: 160px;
  margin-bottom: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.color-system>.color-box>img {
  display: block;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.typography {
  height: 393px;
  background-image: url(../image/do/personal/do_personal-typography-bg.svg);
  position: relative;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.typography>p {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.typography>p:not(.inter) {
  top: 32px;
  left: 548px;
  color: var(--main-color-gray);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.typography>.inter {
  bottom: 144px;
  left: 147px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.typography>p:not(.inter).active {
  width: 28ch;
  animation: typinganimation 1.5s steps(40);
}

.do-page>.section>.container>.contents-box>.personal>.inner>.typography>.inter.active {
  width: 29ch;
  animation: typinganimation 1.5s steps(29);
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-title {
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-title>p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transform: rotate(-90deg);
  display: inline-block;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail img {
  display: block;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-home>img:first-child,
.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-am>img:first-child {
  padding-left: 93px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-home>img:last-child {
  padding-top: 20px;
  padding-left: 147px;
  margin-bottom: 150px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-am>img:last-child {
  padding-top: 30px;
  padding-left: 179px;
  margin-bottom: 167px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-do>img {
  padding-left: 112px;
  padding-bottom: 175px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-will>img {
  padding-left: 87px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.design-detail>.design-detail-will>img:last-child {
  padding-top: 30px;
  margin-bottom: 180px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.epilogue {
  height: 275px;
  background-image: url(../image/do/personal/do_personal-epilogue-text.svg);
  background-position: 0% 22%;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.epilogue>.epilogue-title {
  margin-left: 60px;
}

.do-page .portfolio {
  width: 180px;
  height: 40px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 52px;
  cursor: pointer;
}

.do-page .portfolio>img {
  position: relative;
  z-index: 2;
  left: 0px;
  transition: left 0.5s ease;
}

.do-page .portfolio:hover>img {
  left: 10px;
}

.do-page .portfolio>span {
  background-color: var(--main-color-yellow);
  display: inline-block;
  width: 130px;
  height: 3px;
  position: relative;
  top: -15px;
  z-index: 1;
}

.do-page .portfolio:hover>span {
  animation: portfolioEf 0.5s ease forwards;
}

@keyframes portfolioEf {
  from {
    height: 3px;
    left: 0px;

  }

  to {
    height: 40px;
    left: 66px;
    top: -38px;
  }
}

.do-page>.section>.container>.contents-box>div>.inner>.to-top-btn {
  position: relative;
  height: 100px;
  padding-bottom: 50px;
}

.do-page>.section>.container>.contents-box>.personal>.inner>.to-top-btn,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.to-top-btn {
  height: 182px;
}

.do-page>.section>.container>.contents-box>div>.inner>.to-top-btn>.to-top {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* 


do page > section > contents-box > app


*/
.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro {
  height: 640px;
  background-image: url(../image/do/app-renewal/do_app-intro-bg.svg);
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro>.title {
  display: flex;
  position: absolute;
  top: 206px;
  left: 74px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro>.title>.on {
  width: 72.28px;
  height: 35px;
  background-color: #1A3C40;
  border-radius: 37px;
  margin-right: 6.56px;
  position: relative;
  transition: all linear;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro>.title>.on>span {
  display: inline-block;
  width: 25.65px;
  height: 25.65px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 4.6px;
  transform: translateY(-50%);
  transition: all ease-in-out;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro>.title>div:last-child {
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro>.title>div:last-child>img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.intro>.title>div:last-child>img:last-child {
  opacity: 0;
  transition: all linear;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.goal {
  height: 470px;
  margin-top: 100px;
  margin-bottom: 220px;
  background-image: url(../image/do/app-renewal/do_app-goal-bg.svg);
  background-position: center;
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.goal>.goal-title {
  position: absolute;
  top: 355px;
  left: 124px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.schedule {
  height: 660px;
  background-image: url(../image/do/app-renewal/do_app-schedule-graph.svg);
  background-position: center;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.schedule>.schedule-title {
  text-align: center;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.concept {
  height: 660px;
  background-image: url(../image/do/app-renewal/do_app-concept-text.svg);
  background-position: center;
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.concept>.concept-bg-left {
  position: absolute;
  top: 0;
  left: 0;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.concept>.concept-bg-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.grid-system {
  height: 455px;
  margin-top: 140px;
  margin-bottom: 245px;
  background-image: url(../image/do/app-renewal/do_app-grid-text.svg);
  background-position: center;
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.grid-system>.grid-system-title {
  position: absolute;
  top: 64px;
  left: 600px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.logo-system {
  height: 390px;
  margin-bottom: 265px;
  background-image: url(../image/do/app-renewal/do_app-logo-text.svg);
  background-position: center 0%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.logo-system>img {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.logo-system>.logo-system-bg {
  position: relative;
  height: 221px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.logo-system>.logo-system-bg>img {
  height: 221px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.color-system {
  height: 235px;
  margin-bottom: 215px;
  background-image: url(../image/do/app-renewal/do_app-color-text.svg);
  background-position: center bottom;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.color-system>.color-system-title {
  padding-left: 152px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.color-system>.color-system-title>svg {
  display: flex;
  overflow: visible;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.color-system>.color-system-title>svg>path {
  display: block;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.typography {
  height: 391px;
  margin-bottom: 215px;
  background-image: url(../image/do/app-renewal/do_app-typo-text.svg);
  position: relative;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.typography>.typography-title {
  position: absolute;
  top: 67px;
  left: 220px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.typography>.typography-title>p {
  font-weight: 500;
  font-size: 50px;
  line-height: 135%;
  letter-spacing: 0;
  color: rgba(237, 230, 219, 0.5);
  overflow: hidden;
  white-space: nowrap;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.flow-chart {
  height: 1460px;
  margin-bottom: 145px;
  background-image: url(../image/do/app-renewal/do_app-flow-bg.svg);
  background-size: 100%;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.flow-chart>.flow-chart-title {
  width: 88px;
  margin-left: auto;
  margin-right: 106px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.design-detail {
  height: 6250px;
  margin-bottom: 155px;
  background-image: url(../image/do/app-renewal/do_app-detail-bg.svg);
  background-size: 90%;
  background-position: left bottom;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.design-detail>.design-detail-title {
  width: 376px;
  margin-left: auto;
  margin-right: 114px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.epilogue {
  height: 705px;
  background-image: url(../image/do/app-renewal/do_app-epilogue-text.svg);
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.epilogue>.epilogue-title {
  width: 246px;
  margin: 0 auto;
  padding-top: 233px;
}

.do-page>.section>.container>.contents-box>.app-renewal>.inner>.to-top-btn {
  top: -100px;
  height: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}



/* 


do page > section > contents-box > web


*/
.do-page>.section>.container>.contents-box>.web-renewal>.inner {
  background: linear-gradient(178.9deg, #273F65 0%, #1A3C40 100.5%);
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.intro {
  height: 830px;
  background-image: url(../image/do/web-renewal/do_web-intro-bg.svg);
  background-position: 0%;
  position: relative;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.intro>.intro-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.intro>.intro-title>svg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.intro>.intro-title>svg:last-child {
  opacity: 0;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview {
  margin: 200px 0px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box {
  margin: 0 auto;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner {
  width: 900px;
  height: 80px;
  position: relative;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 80px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box::after,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner::before,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner::after,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner>.overview-title::before,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner>.overview-title::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #fff;
  transition: all 0.3s linear;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box::after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner::before {
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner::after {
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner>.overview-title {
  width: 180px;
  height: 41px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner>.overview-title::before {
  top: 20px;
  left: 180px;
  width: 360px;
  height: 1px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.overview>.box>.box-inner>.overview-title::after {
  top: 20px;
  left: -360px;
  width: 360px;
  height: 1px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.goal {
  position: relative;
  height: 300px;
  margin-bottom: 235px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.goal>.as-is {
  position: absolute;
  top: 0;
  left: 0;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.goal>.to-be {
  position: absolute;
  top: 0;
  right: 0;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.schedule {
  height: 330px;
  background-image: url(../image/do/web-renewal/do_web-schedule-bg.svg);
  margin-bottom: 330px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.schedule>.schedule-text {
  display: flex;
  height: 100%;
  width: 834px;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 107px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.schedule>.schedule-text>img,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography>div>img,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.design-detail>div>img,
.do-page>.section>.container>.contents-box>.web-renewal>.inner>.epilogue>img {
  display: block;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.concept>.concept-text {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.concept>.concept-bg {
  position: relative;
  z-index: 2;
  top: -35px;
  overflow: hidden;
  margin-bottom: 290px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.grid-system {
  height: 570px;
  background-image: url(../image/do/web-renewal/do_web-grid.svg);
  background-position: center;
  margin-bottom: 350px;
  position: relative;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.grid-system>.line-left {
  width: 701px;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 520px;
  left: 20px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.grid-system>.line-right {
  width: 229px;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 520px;
  right: 20px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system {
  height: 271px;
  margin-bottom: 350px;
  background-image: url(../image/do/web-renewal/do_web-color.svg);
  position: relative;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system>.circle-box {
  position: absolute;
  top: 31%;
  left: 0%;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system>.circle-box>.main-color {
  position: relative;
  z-index: 2;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system>.circle-box>.circle {
  width: 455px;
  margin-left: 178px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system>.circle-box>.circle>div {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  border: 1px solid #002C6A;
  position: relative;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system>.circle-box>.circle>.circle-black {
  border: 1px solid #111;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.color-system>.circle-box>.circle>div>.inner {
  width: 38px;
  height: 72px;
  background-color: #fff;
  border-radius: 60px 0px 0px 60px;
  position: absolute;
  top: -2px;
  left: -2px;
  transition: transform 3s;
  transform-origin: 100% 50%;
  animation: circle 1s linear infinite;
}

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography {
  height: 358px;
  margin-bottom: 260px;
  background-image: url(../image/do/web-renewal/do_web-typo-text.svg);
  background-position: 74px center;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography>div {
  display: flex;
  align-items: center;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography>.main-font {
  padding-top: 83px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography>.sub-font {
  padding-top: 120px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography>div>img:first-child {
  margin-right: 33px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.typography>div>img:last-child {
  margin-left: 13px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.design-detail {
  height: 2815px;
  background-image: url(../image/do/web-renewal/do_web-design.svg);
  background-position: left bottom;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.design-detail>.design-detail-title {
  position: relative;
  height: 66px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.design-detail>.design-detail-title>img:first-child {
  position: absolute;
  bottom: 14px;
  right: 258px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.design-detail>.design-detail-title>img:last-child {
  position: absolute;
  top: 0;
  right: 80px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.design-detail>.design-detail-text {
  width: 238px;
  margin-left: auto;
  margin-right: 20px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.epilogue {
  margin-top: 200px;
  padding-left: 93px;
  padding-bottom: 40px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.epilogue>img:first-child {
  margin-bottom: 15px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.epilogue>.portfolio {
  margin-top: 30px;
}

.do-page>.section>.container>.contents-box>.web-renewal>.inner>.epilogue>.portfolio span {
  background: linear-gradient(90deg, rgba(248, 213, 84, 0.7) 0%, rgba(237, 106, 94, 0.7) 100%);
}



/* 


do page > section > contents-box > clone-coding


*/
.do-page>.section>.container>.contents-box>.clone-coding>.inner {
  background-color: var(--main-color-gray);
}



/* 


do page > section > contents-box > clone-coding > semoca


*/
#semoca img {
  display: block;
}

.do-page>.section>.container>.contents-box>.clone-coding>.inner>div>div[class*="header"] {
  display: flex;
  align-items: center;
}

#semoca>.semoca-header {
  padding-top: 98px;
  padding-right: 44px;
  padding-bottom: 110px;
  margin-left: auto;
  width: 545px;
}

.do-page>.section>.container>.contents-box>.clone-coding>.inner>div>div[class*="header"]>img {
  display: inline-block;
  margin-right: 31px;
}

#semoca>.semoca-header>img {
  width: 200px;
}

.do-page>.section>.container>.contents-box>.clone-coding>.inner>div>div[class*="header"]>.skew-box {
  width: 258px;
  height: 32px;
  background: #7775B1;
  position: relative;
}

.do-page>.section>.container>.contents-box>.clone-coding>.inner>div>div[class*="header"]>.skew-box>span {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  position: relative;
  left: 10px;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
}

.do-page>.section>.container>.contents-box>.clone-coding>.inner>div>div[class*="header"]>.skew-box::before {
  position: absolute;
  top: 0;
  left: -10px;
  background: #7775B1;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  transform: skew(-30deg);
}

#semoca>.semoca-1 {
  background-image: url(../image/do/clone-coding/do_clone_semoca.svg);
  height: 1460px;
  position: relative;
}

#semoca>.semoca-1>img {
  position: absolute;
  top: calc(52% + -3px);
  left: 0;
}

#semoca>.portfolio>span {
  background-color: #7775B1;
}



/* 


do page > section > contents-box > clone-coding > tenxten


*/
#tenxten>.tenxten-header {
  width: 336px;
  margin: 0 auto;
  padding-top: 295px;
  padding-bottom: 125px;
}

#tenxten>.tenxten-header>.skew-box {
  width: 150px;
  background-color: #CB0618;
}

#tenxten>.tenxten-header>.skew-box::before,
#tenxten>.portfolio>span {
  background-color: #CB0618;
}

#tenxten>.tenxten-1 {
  background-image: url(../image/do/clone-coding/do_clone_ten.svg);
  height: 1550px;
}

#tenxten>.portfolio {
  margin-left: 44px;
}



/* 


do page > section > contents-box > clone-coding > gidea


*/
#gidea>.gidea-header {
  padding-left: 59px;
  padding-top: 273px;
  padding-bottom: 115px;
}

#gidea>.gidea-header>img {
  width: 200px;
}

#gidea>.gidea-header>.skew-box {
  width: 150px;
  background-color: #24113A;
}

#gidea>.gidea-header>.skew-box::before,
#gidea>.portfolio>span {
  background-color: #24113A;
}

#gidea>.gidea-1 {
  background-image: url(../image/do/clone-coding/do_clone_gidea.svg);
  height: 1230px;
}



/* 


do page > section > contents-box > clone-coding > gidea


*/
#wavve>.wavve-header {
  width: 361px;
  margin-left: auto;
  margin-right: 55px;
  padding-top: 285px;
  padding-bottom: 114px;
}

#wavve>.wavve-header>.skew-box {
  width: 150px;
  background-color: #022CA4;
}

#wavve>.wavve-header>.skew-box::before,
#wavve>.portfolio>span {
  background-color: #022CA4;
}

#wavve>.wavve-1 {
  background-image: url(../image/do/clone-coding/do_clone_wavve.svg);
  height: 1440px;
}

#wavve>.portfolio {
  margin-right: auto;
}



/* 


will page 


*/

#will-loading>.text-box,
#do-loading>.text-box,
#am-loading>.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 625px;
}

#do-loading>.text-box,
#am-loading>.text-box {
  width: 520px;
}

#will-loading>.text-box>div,
#do-loading>.text-box>div,
#am-loading>.text-box>div {
  font-size: 5rem;
  font-family: 'Azeret Mono', monospace;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}

#will-loading>.text-box>div {
  width: 12ch;
  animation: typinganimation 2s steps(11);
}

#do-loading>.text-box>div,
#am-loading>.text-box>div {
  width: 11ch;
  animation: typinganimation 2s steps(10);
}

#will-loading>.time-bar,
#do-loading>.time-bar,
#am-loading>.time-bar {
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 400px;
}

#will-loading>.time-bar>span,
#do-loading>.time-bar>span,
#am-loading>.time-bar>span {
  display: inline-block;
  height: 100%;
  background-color: var(--main-color-blue);
  animation: timeBar 2s linear forwards;
}

@keyframes timeBar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.will-page>.contents>.arrow-box {
  z-index: 100;
}

.will-page>.contents>.arrow-box>.next {
  width: 130px;
}

.will-page>.contents {
  height: calc(100vh - 100px);
}

.will-page>.contents>.swiper,
.will-page>.contents .swiper-slide {
  width: 100%;
  height: 100%;
}

.will-page>.contents>.swiper .swiper-slide {
  height: calc(100vh - 100px);
  position: relative;
  float: left;
  width: calc(100% / 4);
  line-height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow: hidden;
}

.will-page>.contents>.swiper .belt {
  border-top: 3px solid var(--main-color-yellow);
  height: 70px;
  position: absolute;
  top: 100px;
  left: 0px;
  width: var(--box-1-view-width);
  overflow: hidden;
}

:root {
  --box-1--view-width: 100%;
  --box-1--total-items-count: 4;
  --box-1--view-items-count: 10;
  --box-1--item-width: calc(var(--box-1--view-width) / var(--box-1--view-items-count));
}

@keyframes ani-1 {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(calc(var(--box-1--item-width) * var(--box-1--total-items-count) * -1));
  }
}

.will-page>.contents>.swiper .slide-2>.belt {
  border-top: 3px solid var(--main-color-green);
}

.will-page>.contents>.swiper .slide-3>.belt {
  border-top: 3px solid var(--main-color-blue);
}

.will-page>.contents>.swiper .slide-4>.belt {
  border-top: 3px solid var(--text-color);
}

.will-page>.contents>.swiper .belt>ul {
  display: flex;
  animation: ani-1 8s linear infinite;
  will-change: transform;
}

.will-page>.contents>.swiper .belt>ul>li {
  font-weight: 600;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  list-style: none;
  white-space: nowrap;
  width: var(--box-1--item-width);
  flex-shrink: 0;
  color: var(--main-color-gray);
}

.will-page>.contents>.swiper .slide-1>.belt>ul>li {
  color: var(--text-color);
}

.will-page>.contents>.swiper .belt>ul>li:nth-child(even) {
  color: var(--main-color-yellow);
}

.will-page>.contents>.swiper .slide-2>.belt>ul>li:nth-child(even) {
  color: var(--main-color-green);
}

.will-page>.contents>.swiper .slide-3>.belt>ul>li:nth-child(even) {
  color: var(--main-color-blue);
}

.will-page>.contents>.swiper .slide-4>.belt>ul>li:nth-child(even) {
  color: var(--text-color);
}

.will-page>.contents>.swiper .img-box {
  height: 400px;
  overflow: hidden;
  position: absolute;
  top: 170px;
  left: 0px;
  z-index: 1;
}

.will-page>.contents>.swiper .img-box>img {
  width: 1920px;
  height: 870px;
  object-fit: cover;
  object-position: 0% 187%;
}

.will-page>.contents>.swiper .slide-3>.img-box>img {
  height: 1201px;
  object-position: 0% 187%;
}

.will-page>.contents>.swiper .slide-4>.img-box>img {
  width: 1937px;
  object-position: 0% 50%;
}

.will-page>.contents>.swiper .container {
  position: relative;
  z-index: 200;
}

.will-page>.contents>.swiper .container>.top {
  width: 100%;
  height: 289px;
  position: absolute;
  top: 50px;
  left: 0;
}

.will-page>.contents>.swiper .container>.top>.prev {
  background-image: url(../image/will/will_5year-pre.svg);
  width: 184px;
  height: 158px;
  position: relative;
}

.will-page>.contents>.swiper .slide-3>.container>.top>.prev {
  background-image: url(../image/will/will_10year-pre.svg);
}

.will-page>.contents>.swiper .slide-4>.container>.top>.prev {
  background-image: url(../image/will/will_final-pre.svg);
}

.will-page>.contents>.swiper .container>.top>.prev>img {
  position: absolute;
  top: 70%;
  left: 32%;
  animation: infinitemoveLeft .5s linear infinite alternate;
}

.will-page>.contents>.swiper .container>.bottom {
  width: 100%;
  height: 296px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.will-page>.contents>.swiper .container>.bottom>.title {
  width: 400px;
  padding-top: 30px;
  padding-right: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.will-page>.contents>.swiper .container>.bottom>.title>span {
  display: block;
  width: 90px;
  height: 38px;
  position: absolute;
  top: 76px;
  left: 122px;
  z-index: -1;
}

.will-page>.contents>.swiper .slide-2>.container>.bottom>.title>span {
  left: 104px;
}

.will-page>.contents>.swiper .slide-3>.container>.bottom>.title>span {
  width: 101px;
  left: 49px;
}

.will-page>.contents>.swiper .slide-4>.container>.bottom>.title>span {
  left: 44px;
}

.will-page>.contents>.swiper .container>.bottom>.title>span::after {
  content: "";
  display: block;
  height: 100%;
}

.will-page>.contents>.swiper .swiper-slide.swiper-slide-active>.container>.bottom>.title>span::after {
  animation: titleBG 1s ease 0.5s forwards;
}

@keyframes titleBG {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    background-color: var(--main-color-yellow);
  }
}

.will-page>.contents>.swiper .container>.bottom>.des {
  width: calc(100% - 400px - 300px);
  padding-top: 80px;
}

.will-page>.contents>.swiper .slide-4>.container>.bottom>.des {
  width: calc(100% - 400px);
}

.will-page>.contents>.swiper .container>.bottom>.des>p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
}

.will-page>.contents>.swiper .container>.bottom>.next {
  width: 300px;
  position: relative;
}

.will-page>.contents>.swiper .container>.bottom>.next>.next-bg {
  position: absolute;
  top: -51.5px;
  right: 0px;
  background-image: url(../image/will/will_1year-next.svg);
  width: 200px;
  height: 376.5px;
}

.will-page>.contents>.swiper .slide-2>.container>.bottom>.next>.next-bg {
  background-image: url(../image/will/will_5year-next.svg);
}

.will-page>.contents>.swiper .slide-3>.container>.bottom>.next>.next-bg {
  background-image: url(../image/will/will_10year-next.svg);
}

.will-page>.contents>.swiper .container>.bottom>.next>.next-bg>img {
  position: absolute;
  top: 50%;
  left: 32%;
  animation: infinitemoveLeft .5s linear infinite alternate;
}